*.log
.htaccess
sitemap.xml
sitemap.xml.gz
dynamic/*.php
dynamic/*.txt
dynamic/*.html
dynamic/wp-content/advanced-cache.php
dynamic/wp-content/backup-db/
dynamic/wp-content/backups/
dynamic/wp-content/blogs.dir/
dynamic/wp-content/cache/
dynamic/wp-content/upgrade/
dynamic/wp-content/uploads/
dynamic/wp-content/wp-cache-config.php
dynamic/wp-admin
dynamic/wp-content/languages
dynamic/wp-content/plugins
dynamic/wp-content/themes/twentyfifteen
dynamic/wp-includes
dynamic/wp-content/themes/*.php
dynamic/wp-content/*.php
