!!!
%html{:lang => "en"}
	%head
		%meta{:charset => "UTF-8"}/
		%title Mafancy. by Maria Fernanda Lamego
		%link{:rel => "stylesheet", :href => "css/screen.css", :media => "screen, projection"}/
	%body.home
		= Haml::Engine.new(File.read(File.dirname(__FILE__) + "/_header.haml")).render
		%main.main{:role => "main"}
			.wrap
				.tile-list#masonry
					.sizer
					.tile.w2.h2
						%a{:href => "#", :style => "background-image:url(img/thumb-d-1.jpg)"}
							.tile-body
								%p.tile-category Viagem
								%h2.tile-title Capadócia de um jeito inusitado
						.tile-share
							%a.icon.facebook{:href => "#", :target => "_blank"}
							%a.icon.twitter{:href => "#", :target => "_blank"}
							%a.icon.pinterest{:href => "#", :target => "_blank"}
							%a.icon.email{:href => "#", :target => "_blank"}
					.tile.w2
						%a{:href => "#", :style => "background-image:url(img/thumb-h-1.jpg)"}
							.tile-body
								%p.tile-category Beleza
								%h2.tile-title Q. What blush to wear with red lips?
						.tile-share
							%a.icon.facebook{:href => "#", :target => "_blank"}
							%a.icon.twitter{:href => "#", :target => "_blank"}
							%a.icon.pinterest{:href => "#", :target => "_blank"}
							%a.icon.email{:href => "#", :target => "_blank"}
					.tile
						%a{:href => "#", :style => "background-image:url(img/thumb-1.jpg)"}
							.tile-body
								%p.tile-category Crônica
								%h2.tile-title Como estou?
						.tile-share
							%a.icon.facebook{:href => "#", :target => "_blank"}
							%a.icon.twitter{:href => "#", :target => "_blank"}
							%a.icon.pinterest{:href => "#", :target => "_blank"}
							%a.icon.email{:href => "#", :target => "_blank"}
					.tile
						%a{:href => "#", :style => "background-image:url(img/thumb-2.jpg)"}
							.tile-body
								%p.tile-category Beleza
								%h2.tile-title Blush nela!
						.tile-share
							%a.icon.facebook{:href => "#", :target => "_blank"}
							%a.icon.twitter{:href => "#", :target => "_blank"}
							%a.icon.pinterest{:href => "#", :target => "_blank"}
							%a.icon.email{:href => "#", :target => "_blank"}
					.tile.h2
						%a{:href => "#", :style => "background-image:url(img/thumb-v-1.jpg)"}
							.tile-body
								%p.tile-category Cultura
								%h2.tile-title Snaps #2
						.tile-share
							%a.icon.facebook{:href => "#", :target => "_blank"}
							%a.icon.twitter{:href => "#", :target => "_blank"}
							%a.icon.pinterest{:href => "#", :target => "_blank"}
							%a.icon.email{:href => "#", :target => "_blank"}
					.tile
						%a{:href => "#", :style => "background-image:url(img/thumb-3.jpg)"}
							.tile-body
								%p.tile-category Lifestyle
								%h2.tile-title Luzes pra que te quero?
						.tile-share
							%a.icon.facebook{:href => "#", :target => "_blank"}
							%a.icon.twitter{:href => "#", :target => "_blank"}
							%a.icon.pinterest{:href => "#", :target => "_blank"}
							%a.icon.email{:href => "#", :target => "_blank"}
					.tile
						%a{:href => "#", :style => "background-image:url(img/thumb-4.jpg)"}
							.tile-body
								%p.tile-category Moda
								%h2.tile-title SPFW 2014
						.tile-share
							%a.icon.facebook{:href => "#", :target => "_blank"}
							%a.icon.twitter{:href => "#", :target => "_blank"}
							%a.icon.pinterest{:href => "#", :target => "_blank"}
							%a.icon.email{:href => "#", :target => "_blank"}
					.tile
						%a{:href => "#", :style => "background-image:url(img/thumb-1.jpg)"}
							.tile-body
								%p.tile-category Cultura
								%h2.tile-title Wallpaper guide
						.tile-share
							%a.icon.facebook{:href => "#", :target => "_blank"}
							%a.icon.twitter{:href => "#", :target => "_blank"}
							%a.icon.pinterest{:href => "#", :target => "_blank"}
							%a.icon.email{:href => "#", :target => "_blank"}
					.tile.w2
						%a{:href => "#", :style => "background-image:url(img/thumb-h-2.jpg)"}
							.tile-body
								%p.tile-category Cultura
								%h2.tile-title Doce Paris
						.tile-share
							%a.icon.facebook{:href => "#", :target => "_blank"}
							%a.icon.twitter{:href => "#", :target => "_blank"}
							%a.icon.pinterest{:href => "#", :target => "_blank"}
							%a.icon.email{:href => "#", :target => "_blank"}
					.tile
						%a{:href => "#", :style => "background-image:url(img/thumb-3.jpg)"}
							.tile-body
								%p.tile-category Lifestyle
								%h2.tile-title Luzes pra que te quero?
						.tile-share
							%a.icon.facebook{:href => "#", :target => "_blank"}
							%a.icon.twitter{:href => "#", :target => "_blank"}
							%a.icon.pinterest{:href => "#", :target => "_blank"}
							%a.icon.email{:href => "#", :target => "_blank"}
				.pagination
					%a.link.more{:href => "#"} Carregar mais posts
		= Haml::Engine.new(File.read(File.dirname(__FILE__) + "/_footer.haml")).render